.moreAction{
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  top: 44px;
  background-color: #333;
  animation-name: test;
  animation-duration: 0.3s;
  overflow: hidden;
}

@keyframes test {
  from{
    height: 0;
  }
  to{
    height: 132px;
  }
}