.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.flexBox{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.wrapperTask{
  width: 80%;
  font-size: 20px;
  margin: 25px;
}
.actionAddTask{
  background: var(--bgColor);
  padding: 20px;
  border-radius: 5px;
}
.tasklist{
  margin-top: 25px;
}
/* button, select */
button,
select{
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
  background: none;
  transition: 0.2s ease;
}

button:hover,
select:hover {
  border-color: var(--primaryHoverColor);
  color: var(--primaryHoverColor);
}

/* input */
input {
  background-color: transparent;
  border: 1px solid var(--txtColor);
  color: var(--txtColor);
  font-size: 20px;
  padding: 0 5px;
  width: 100%;
  height: 40px;
}

/* input checkbox */
input[type="checkbox"]{
  appearance: none;
  max-width: 42px;
  height: 42px !important;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:hover{
  box-shadow: inset 0 0 100px 100px rgb(255 255 255 / 0.1);
}

input[type="checkbox"]:checked{
  appearance: none;
  background-color: var(--primaryColor);
  text-align: center;
}

input[type="checkbox"]:checked:after{
  font-family: 'Material Icons';
  content: "done";
  vertical-align: middle;
}

/* media */
@media (max-width:1200px) {
  .wrapperTask{
    width: 90%;
  }
}
@media (max-width:768px) {
  .wrapperTask{
    width: 100%;
  }
}