.container{
  display: flex;
  justify-content: center;
}

.wrapperTasklist{
  background: #222;
  padding: 20px;
  font-size: 20px;
  width: 60%;
  margin: 25px
}

button,
select{
  cursor: pointer;
}

input[type="checkbox"]{
  appearance: none;
  max-width: 42px;
  height: 42px !important;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:hover{
  box-shadow: inset 0 0 100px 100px rgb(255 255 255 / 0.1);
}

input[type="checkbox"]:checked{
  appearance: none;
  background-color: var(--primaryColor);
  text-align: center;
}

input[type="checkbox"]:checked:after{
  font-family: 'Material Icons';
  content: "done";
  vertical-align: middle;
}

@media (max-width:767px) {
  .wrapperTasklist{
    width: 100%;
  }
}