.popup{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editModal{
  background-color: var(--bgColor);
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 25px;
}
.btnWrapper button:first-child{
  margin-right: 10px;
}
h2{
  text-align: center;
  padding-bottom: 20px;
  margin: 15px 0;
}
.editModal .inputWrapper{
  width: 100%;
}

/* media */
@media (max-width:767px) {
  .editModal{
    width: 60%;
  }
}

@media (max-width:419px) {
  .editModal{
    width: 70%;
  }
}