.wrapperModal{
  height: 100%;
  background-color: var(--bgColor);
  width: 20%;
  animation: ejectionModal 0.5s;
}
.editModal{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.btnWrapper{
  display: flex;
}
.btnWrapper button{
  width: 100%;
}
.btnWrapper button:first-child{
  margin-right: 10px;
}
h2{
  text-align: center;
  padding-bottom: 20px;
  margin: 15px 0;
}
.editModal .inputWrapper{
  width: 100%;
}
.statusWrapper{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.statusWrapper button{
  margin-bottom: 10px;
  color: var(--txtColor);
  border-color: var(--txtColor);
}
.statusWrapper button:hover{
  background-color: #333;
}
/* media */
@media (max-width:768px) {
  .editModal{
    width: 60%;
  }
}

@media (max-width:420px) {
  .editModal{
    width: 70%;
  }
}

@keyframes ejectionModal{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}