.taskList {
  display: flex;
  flex-direction: column;
}
.taskList div {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--txtColor);
  margin-bottom: 10px;
}
.taskList div.done {
  color: #999;
}
.textWrapper{
  padding: 8px 10px;
}
.iconWrapper{
  display: flex;
}
.iconWrapper a {
  color: var(--primaryColor);
  cursor: pointer;
  padding: 10px;
  transition: .2s ease;
  height: max-content;
}
.iconWrapper a:hover {
  color: var(--primaryHoverColor);
  box-shadow: inset 0 0 100px 100px rgb(255 255 255 / 0.1);
}
.outdated{
  color: red;
}