.taskHeader{
  margin-bottom: 30px;
}

.taskHeader h2{
  text-align: center;
  padding-bottom: 20px;
  margin: 15px 0;
}

.inputWrapper{
  display: flex;
  margin-bottom: 10px;
  width: 50%;
}

.inputWrapper input[type="checkbox"]{
  margin-left: 10px;
}

.inputWrapper input[disabled] {
  color: #999;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.option{
  display: flex;
  justify-content: space-between;
}

.validateError{
  border-color: var(--alertColor) !important;
}

@media (max-width: 767px) {
 .inputWrapper{
   width: 100%;
 } 
}