html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, rgb(2, 0, 50) 0%, rgb(89, 29, 148) 30%, rgba(0,155,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  color: var(--txtColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primaryColor: #7f3bc3;
  --primaryHoverColor: #a83bc3;
  --txtColor: #fff;
  --bgColor: #222;
  --alertColor: #FF0000;
}